#container {
  display: grid;
  grid-template-columns: 100px 1fr 2fr;
  height: 200px;
}

#item1 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background-color: #88ff88;
}
#item2 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  background-color: #8888ff;
}
#item3 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  background-color: #aaaaaa;
}
